.mainblock {
  background-color: #faf9f9;
  grid-area: main;
}

.dashboard {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "sidebar main main main main main";

  grid-template-rows: 10% 90%;
  background-color: #2196f3;
  padding: 0px;
  height: 100%;
}
