.hotels {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  background-color: white;
}

.hotels-container {
  width: 90%;
  height: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.hotels-cmd {
  border: solid;
  width: 28%;
}

.hotels-table {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hotel-pagination-toolbar {
  display: flex;
  justify-content: space-between;
}

.hotels-card-list {
  height: 80%;
}

.hotel-toolbar {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.hotel-toolbar-title {
}

.hotel-toolbar-title-contry {
  font-weight: 600;
}

.hotel-toolbar-title-population {
}
.hotel-toolbar-filter {
}

.hotel-toolbar-filter-by {
  color: #afabab;
}

.hotel-toolbar-filter-selected {
  font-weight: 600;
}

.pagination-element {
  color: #266efe;
}

.arrow {
  border: 1px solid rgba(158, 157, 157, 0.555);
}

.pages-counter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  width: 30%;
}

.pagination-element:hover {
  border: 0.4px solid rgba(158, 157, 157, 0.555);
  color: gray;
}

.hotel-card {
  display: flex;
  box-shadow: 1px 10px 16px -2px rgba(77, 76, 76, 0.308);
  border-radius: 7px;
  margin-bottom: 3%;
}

.hotel-card-img {
  height: 50%;
  width: 30%;
}

.hotel-card-img > img {
  height: 100%;
  width: 100%;
}

.hotel-card-info {
  width: 100%;
}

.hotel-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 95%;
  margin: auto;
}

.hotel-card-info-titles {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.hotel-card-info-titles-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.hotel-card-info-titles-right > span {
  font-weight: 600;
}

.position {
  color: #266efe;
  text-decoration: underline;
}

.position-distance {
  font-weight: 550;
  font-size: 0.8em;
}

.hotel-card-info-titles-left {
  display: flex;
  flex-direction: column;
  color: #266efe;
}

.hotel-card-info-titles-left-score {
  font-weight: 600;
  font-size: 1.2em;
}

.hotel-card-info-titles-left-reviews {
  font-size: 0.6em;
  text-decoration: underline;
}
