.hotels {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  background-color: white;
}

.hotels-container {
  width: 90%;
  height: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.hotels-cmd {
  width: 28%;
}

.hotels-table {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hotel-pagination-toolbar {
  display: flex;
  justify-content: space-between;
}

.hotels-card-list {
  height: 80%;
}

.hotel-toolbar {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.hotel-toolbar-title-contry {
  font-weight: 600;
}

.hotel-toolbar-filter-by {
  color: #afabab;
}

.hotel-toolbar-filter-selected {
  font-weight: 600;
}

.pagination-element {
  color: #266efe;
}

.arrow {
  border: 1px solid rgba(158, 157, 157, 0.555);
}

.pages-counter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  width: 30%;
}

.pagination-element:hover {
  border: 0.4px solid rgba(158, 157, 157, 0.555);
  color: gray;
}

.hotel-card {
  display: flex;
  box-shadow: 1px 10px 16px -2px rgba(77, 76, 76, 0.308);
  border-radius: 7px;
  margin-bottom: 3%;
  height: 30%;
}

.hotel-card-img {
  height: 100%;
  width: 30%;
}

.hotel-card-img > img {
  height: 100%;
  width: 100%;
}

.hotel-card-info {
  width: 100%;
}

.hotel-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 95%;
  margin: auto;
}

.hotel-card-info-titles {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  border-bottom: 1.5px solid #80808042;
  padding-bottom: 2%;
}

.hotel-card-info-titles-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.hotel-card-info-titles-right-position {
  font-size: 0.7em;
}

.hotel-card-info-titles-right > span {
  font-weight: 600;
}

.position {
  color: #266efe;
  text-decoration: underline;
}

.position-distance {
  font-weight: 550;
}

.hotel-card-info-titles-left {
  display: flex;
  flex-direction: column;
  color: #266efe;
}

.hotel-card-info-titles-left-score {
  font-weight: 600;
  font-size: 1.2em;
}

.hotel-card-info-titles-left-reviews {
  font-size: 0.6em;
  text-decoration: underline;
}

.hotel-card-info-discription {
  display: flex;
  justify-content: space-between;
}

.description-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  font-size: 0.7em;
}

.description-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

.description-left-price {
  color: rgb(11, 182, 11);
  font-size: 1.2em;
  font-weight: 600;
  font-family: sans-serif;
}

.description-left-unit {
  font-size: 0.8em;
  font-family: sans-serif;
  color: #80808088;
}

.hotel-card-info-more {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.7em;
}

.hotel-card-info-more-btn {
  background-color: #266efe;
  padding: 0.4em;
  cursor: pointer;
  color: white;
}

.hotel-card-info-more-info {
  color: rgb(11, 182, 11);
}

.hotel-filter-container {
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2%;
  font-family: sans-serif;
}

.filter-title {
  text-align: left;
  margin-left: 7%;
  font-weight: 600;
}

.filters-container {
  background-color: #eef0f5;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.wrapper {
  width: 15px;
  height: 15px;
  border-radius: 29px;
  box-shadow: 0 0 6px;
  position: absolute;
  bottom: -9px;
  background-color: #266efe;
  cursor: pointer;
}

.slider-container {
  width: 80%;

  border-bottom: solid rgba(167, 166, 166, 0.61);
  height: 5%;
  position: relative;
}

.progress-line {
  background-color: #266efe;
  width: 97px;
  background-color: #266efe;
  position: absolute;
  bottom: -3px;
  height: 3px;
}

.filter-box {
  display: flex;
  height: 22%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.filter-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.filter-prices {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1em;
  width: 80%;
}

.filter-score-added {
  color: rgb(11, 182, 11);
}

.filter-other-options {
  border: 2px solid;
  padding: 5%;
  color: #266efe;
  cursor: pointer;
}
